<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>YuantuSys</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    
  </welcome-file-list>
   <!-- 配置spring监听器 -->
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 配置spring配置文件位置 -->
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
	<servlet-mapping>    
     	<servlet-name>default</servlet-name>
     	 <url-pattern>*.html</url-pattern>    
     	<url-pattern>*.js</url-pattern>    
     	<url-pattern>*.css</url-pattern>    
     	<url-pattern>/assets/*"</url-pattern>    
     	<url-pattern>/image/*</url-pattern>
     	<url-pattern>/style/*</url-pattern>    
 	</servlet-mapping>
	<servlet>  
  		<servlet-name>top</servlet-name>  
  		<jsp-file>/WEB-INF/top.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>  
  		<servlet-name>top</servlet-name>  
  		<url-pattern>/top</url-pattern>
  	</servlet-mapping>
  	<servlet>  
  		<servlet-name>left</servlet-name>  
  		<jsp-file>/WEB-INF/left.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>  
  		<servlet-name>left</servlet-name>  
  		<url-pattern>/left</url-pattern>
  	</servlet-mapping>
  	<servlet>  
  		<servlet-name>right</servlet-name>  
  		<jsp-file>/WEB-INF/right.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>  
  		<servlet-name>right</servlet-name>  
  		<url-pattern>/right</url-pattern>
  	</servlet-mapping>
  	<servlet>  
  		<servlet-name>bottom</servlet-name>  
  		<jsp-file>/WEB-INF/bottom.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>  
  		<servlet-name>bottom</servlet-name>  
  		<url-pattern>/bottom</url-pattern>
  	</servlet-mapping>
	
	<!-- 配置springmvc -->
	<servlet>
			<servlet-name>dispatcherServlet</servlet-name>
			<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
			<init-param>
				<param-name>contextConfigLocation</param-name>
				<param-value>classpath:spring-mvc.xml</param-value>
			</init-param>
			<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<!-- 针对本项目的所有请求springmvc都会拦截  -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 避免中文乱码 -->
	<filter>
    	<filter-name>characterEncodingFilter</filter-name>
    	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    	<init-param>
      		<param-name>encoding</param-name>
      		<param-value>UTF-8</param-value>
    	</init-param>
    	
    	<init-param>
     		<param-name>forceEncoding</param-name>
      		<param-value>true</param-value>
    	</init-param>
  	</filter>
  	<filter-mapping>
   		 <filter-name>characterEncodingFilter</filter-name>
    	 <url-pattern>/*</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
   		 <filter-name>characterEncodingFilter</filter-name>
    	 <url-pattern>*.html</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
   		 <filter-name>characterEncodingFilter</filter-name>
    	 <url-pattern>*.jsp</url-pattern>
  	</filter-mapping>
	
	<session-config>
    <session-timeout>1000</session-timeout>
  	</session-config>



</web-app>